@import url('https://fonts.googleapis.com/css2?family=Outfit:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.qr-code-container {
  text-align: center;
  padding: 15px;
  background-color: white;
  max-width: min-content;
  border-radius: 20px;

  .image {
    border-radius: 10px;
    width: 300px;
    height: 300px;
  }

  .details {
    width: 85%;
    margin: 0 auto;

    .title {
      font-size: 22px;
      font-weight: 700;
    }

    .description {
      font-size: 15px;
      color: hsl(220, 15%, 55%);
    }
  }
}